 *, *::before, *::after 
    {
        box-sizing:border-box;
    }
    html, body 
    {
        padding:0; 
        margin:0;
    }
    body 
        {
        min-height:100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    header,.navigation,.contact {
        list-style-type: none;
        padding: 0%;
        margin: 0%;
    }
    header{
        width: 100%;
        background-color: white;
        box-shadow:0.2em 0 0.4em -0.2em rgb(116, 110, 110);
        display: block;
        height: 2em;
        padding: 0.4em;
        z-index: 10;
        position: fixed;
    }
    header img{
        width: 7em;
        z-index: 4;
    }
    header figure{
        margin: 0;
        display: flex;
        justify-content: space-around;
        
    }
    #check{
        display: none;
    }
    /* nav{
        position: relative;
        top: -1.5em;
    } */
    nav .checkbox{
        color: #006fae;
        z-index: 2;
        margin-left: 2%;
        position: relative;
        top: -1.4em;
    }
    header nav ul{
        position: fixed;
        left: -100%;
        top: 2em;
        display: block;
        width: 100%;
        transition: all .5s;
    }
    header nav ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        line-height: 2em;
        background-color: #006fae;
        color: white;
        position: relative;
    }
    header nav ul li:hover{
        background-color:white ;
        color: #006fae;
        border: 2px solid #006fae;
        cursor: pointer;
    }
    #check:checked ~ .navigation{
        left: 0;
    }
    header .contact{
        position: fixed;
        right: -100%;
        top: 2em;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #006fae;
        color: white;
        line-height: 2em;
    }
    header label .fa-user{
        position: fixed;
        top: 0.7em;
        right: 0.4em;
        color: #006fae;
    }
    #check-con{
        display: none;
    }
    #check-con:checked~.contact{
        right: 0;
    }
    .checkbox-con{
        color: #006fae;
        position: relative;
        top: -2.5em;
        z-index: 2;
    }
    header .contact li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    header .contact li:hover{
        background-color:white ;
        color: #006fae;
        border: 2px solid #006fae;
        cursor: pointer;
    }
    .Lower{
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        background-color:#f6f6f6 ;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0.3em 0.3em -0.2em rgb(116, 110, 110),
        0 0.3em 0.3em -0.3em rgb(131, 131, 131);
        height: 30em;
    }
    .LoginStatement{
        font-size: 30px;
        grid-column: 1/10;
        grid-row: 2/3;
        align-self: end;
        z-index: 2;
        margin-left: 0.8em;
    }
    .ratings{
        display: none;
    }
    .support{
        display: none;
    }
    .upper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        width: 100%;
        justify-content: space-evenly;
        position: relative;
        top: -25em;
        height: 30em;
        box-shadow: 0.1em -0.1em 0.4em -0.2em black;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 1.5em;
        line-height: 40px;
    }
    .loginLabel{
        background-color:  #f6ac31;
        border: none;
        padding: 1em 0;
        color: white;
    }
    .emailLabel{
        margin-top: 1em;
    }
    hr{
        color:rgb(187, 186, 186) ;
        position: relative;
        top: 2em;
    }
    .breakor{
        color: rgb(128, 128, 128);
        background-color: white;
        position: relative;
        top: 0.1em;
        left: 48%;
        width: fit-content;
        padding: 0 0.3em;
    }
    .LoginOptions{
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .facebook,.google{
        width: 45%;
        height: 3em;
        justify-content: center;
        color: white;
        border: none;
        font-size: 0.9em;
        position: relative;
        top: -3em;
    }
    .facebook{
        background-color: #415dae;
    }
    .google{
        background-color: #ea4335;
    }
    .reset{
        display: flex;
        justify-content: center;
        gap: 2em;
    }
    .reset a{
        position: relative;
        color: #3487b8;
        top: 8em;
        width: fit-content;
        }
    a:first-child{
        border-right: 2px solid #3487b8;
        padding-right: 1.5em;
    }
@media only screen and (min-width: 768px) and (max-width: 1023px){
    header,.navigation,.contact {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0%;
    }
    header{
        width: 100%;
        align-items: center;
        background-color: white;
        color: #0371af;
        position: sticky;
        top: 1em;
        z-index: 5;
        box-shadow:0.2em 0 0.4em -0.2em rgb(116, 110, 110);
    }
    header img{
        width: 7em;
    }
    header figure{
        margin-right: 0.8em;
    }
    .contact{
        margin-left: auto;
        margin-right: 2%;
    }
    header nav ul li{
        margin: 3px;
        font-size: 0.8em;
    }
    .contact li{
        margin: 5px;
        font-size: 0.8em;
    }
    .contact li:not(:last-child):after{
        content: '|';
        margin: 1em;
    } 
    .Lower{
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        background-color:#f6f6f6 ;
        width: 100%;
        box-shadow: inset 0 0.3em 0.3em -0.2em rgb(116, 110, 110),
        0 0.3em 0.3em -0.3em rgb(131, 131, 131);
        height: 30em;
    }
    .LoginStatement{
        font-size: 30px;
        grid-column: 1/10;
        grid-row: 2/3;
    }
    .ratingTab{
        grid-row:12/13;
        grid-column: 1/3;
        margin-left: 1em;
        z-index: 1;
    }
    .ratings{
        width: 8em;
    }
    .support{
        grid-row:12/13;
        grid-column: 12/13;
        width: 8em;
        height: 3em;
        background-color: #f6ac31;
        color: rgb(70, 70, 70);
        border-radius: 100px;
        border: none;
        margin-left: 12em;
        z-index: 1;
    }
    .upper{
        display: flex;
        background-color: white;
        width: 100%;
        justify-content: space-evenly;
        position: relative;
        top: -25em;
        height: 25em;
        box-shadow: 0.1em -0.1em 0.4em -0.2em black;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        padding: 0 3em;
        flex-wrap: wrap;
        align-content: space-between;
        margin: 3em 0;
        border-right: 2px solid #c5c5c5;
    }
    .email,.password,.remember,.loginLabel{
        margin-bottom: 1em;
    }
    .email,.password{
        width: 20em;
        height: 2em;
        box-shadow: inset 0.2em 0.2em 0.4em -0.2em rgb(116, 110, 110);
        border-left-style: none;
        border-top-style: none;
    }
    .emailLabel,.passwordLabel{
        margin-bottom: 0.5em;
    }
    .loginLabel{
        color: white;
        background-color:#f6ac31 ;
        width: 100%;
        height: 30px;
        border: none;
        margin-bottom: 3em;
    }
    .Forgot{
        border-right: 2px solid #3487b8;
        padding-right: 10px;
        margin-right: 5px;
    }
    .reset a{
    color: #3487b8;
    }
    .LoginOptions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3em;
    }
    .facebook,.google{
        width: 15em;
        height: 3em;
        justify-content: center;
        color: white;
        margin-bottom: 2em;
        border: none;
    }
    .facebook{
        background-color: #415dae;
    }
    .google{
        background-color: #ea4335;
    }
    .checkbox{
        font-size: 30px;
        cursor: pointer;
        color: #3b90c0;
        display: none;
    }
    #check{
        display: none;
    }
    #check-con{
        display: none;
    }
    .checkbox-con{
        font-size: 30px;
        cursor: pointer;
        color: #3b90c0;
        display: none;        
    }
    hr{
        display: none;
    }
    .breakor{
        display: none;
    }
    #check-con{
        display: none;
    }
    .fa-user{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    header,.navigation,.contact {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0%;
    }
    header{
        width: 100%;
        align-items: center;
        background-color: white;
        color: #0371af;
        position: sticky;
        z-index: 5;
        top: 0px;
        box-shadow:0.2em 0 0.4em -0.5em rgb(116, 110, 110);
    }
    /* .navigation{
        margin-left: -10%;
    } */
    .contact{
        margin-left: auto;
        margin-right: 5%;
    }
    .navigation li{
        margin: 5px;
    }
    .contact li{
        margin: 5px;
    }
    .contact li:not(:last-child):after{
        content: '|';
        margin: 1em;
    } 
    .Lower{
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        background-color:#f6f6f6 ;
        z-index: 1;
        width: 100%;
        box-shadow: inset 0 0.3em 0.3em -0.2em rgb(116, 110, 110),
        0 0.3em 0.3em -0.3em rgb(131, 131, 131);
        height: 30em;
    }
    .LoginStatement{
        font-size: 30px;
        grid-column: 3/10;
        grid-row: 2/3;
        margin-left: -1.9em;
    }
    .ratingTab{
        grid-row:12/13;
        grid-column: 1/3;
        margin-left: 1em;
    }
    .ratings{
        width: 8em;
    }
    .support{
        grid-row:12/13;
        grid-column: 12/13;
        width: 8em;
        height: 3em;
        background-color: #f6ac31;
        color: rgb(70, 70, 70);
        border-radius: 100px;
        border: none;
        margin-left: 12em;
    }
    .upper{
        display: flex;
        z-index: 2;
        background-color: white;
        width: 70%;
        justify-content: space-evenly;
        margin-left: 15%;
        position: relative;
        top: -25em;
        box-shadow: 0.1em -0.1em 0.4em -0.2em black;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        padding: 0 3em;
        flex-wrap: wrap;
        align-content: space-between;
        margin: 3em 0;
        border-right: 2px solid #c5c5c5;
    }
    .email,.password,.remember,.loginLabel{
        margin-bottom: 1em;
    }
    .email,.password{
        width: 20em;
        height: 2em;
        box-shadow: inset 0.2em 0.2em 0.4em -0.2em rgb(116, 110, 110);
        border-left-style: none;
        border-top-style: none;
    }
    .emailLabel,.passwordLabel{
        margin-bottom: 0.5em;
    }
    .loginLabel{
        color: white;
        background-color:#f6ac31 ;
        width: 100%;
        height: 30px;
        border: none;
        margin-bottom: 3em;
    }
    .Forgot{
        border-right: 2px solid #3487b8;
        padding-right: 10px;
        margin-right: 5px;
    }
    .reset a{
    color: #3487b8;
    }
    .LoginOptions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3em;
    }
    .facebook,.google{
        width: 15em;
        height: 3em;
        justify-content: center;
        color: white;
        margin-bottom: 2em;
        border: none;
    }
    .facebook{
        background-color: #415dae;
    }
    .google{
        background-color: #ea4335;
    }
    .checkbox{
        font-size: 30px;
        cursor: pointer;
        color: #3b90c0;
        display: none;
    }
    #check{
        display: none;
    }
    hr{
        display: none;
    }
    .breakor{
        display: none;
    }
    #check-con{
        display: none;
    }
    .fa-user{
        display: none;
    }
}




